* {
  margin: 0;
  padding: 0; }

body {
  font-family: Arial, Helvetica, sans-serif; }

.fondoHeader {
  background-color: azure;
  height: 150px; }

header {
  font-size: 20px; }
  header img {
    margin: 10px 0 0 10px;
    height: 130px; }

header ul {
  margin-left: 125px;
  margin-top: -50px;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0px; }

.imagenBody h1 {
  position: absolute;
  margin: 50px 0 -150px 30vw; }

.imagenBody img {
  height: 500px;
  width: 98.5vmax;
  border: double 2px red; }
